**/bin/Debug/
**/bin/Release/
**/packages/*
packages/*
Premiersal/Booking-clerk/obj/
Premiersal/Booking-clerk/bin/
Premiersal/Web/obj/
Premiersal/Web/bin/
*.dg
*.suo
Trade/Web/obj/
Trade/.vs/config/applicationhost.config

BrokereeSolutions/\.vs/

BrokereeSolutions/BrokereeSolution\.Api/obj/

BrokereeSolutions/BrokereeSolution\.Api/Properties/

BrokereeSolutions/BrokereeSolution\.Data/obj/

motiv/Motiv.Winforms/obj/

motiv/Motiv.Data/obj/

motiv/Motiv.Core/obj/
